@font-face {
    font-family: 'Monocraft';
    src: url('https://cdn.jsdelivr.net/gh/IdreesInc/Monocraft@main/dist/Monocraft-ttf/Monocraft.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
* {
    font-family: "Monocraft";
    margin: 0;
    padding: 0;
}
.header {
    background-color: rgb(0, 132, 255);
}
.header h1 {
    margin: 25px;
}